*{
margin:0;
padding:0;
}

body{
background-color:black;
color:white;
}

.title{
text-align:center;
margin:5px;
font-family:times;
font-weight:bold;
font-size:80px;
margin-bottom:10%;
}

.btn1,.btn2{
color:white;
margin:px;
margin-bottom:5%;
border:10px solid white;
text-align:center;
padding:15px;
font-size:45px;
font-family:times;
border-radius:79px;
outline:none;
}



